<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles\main.css">
    <title>Sign-in</title>
</head>

<body>
    <header class="header" id='header'>
        <nav class="navbar__menu">
            <a href="/" class='logo' id='logo'>
                <img src="styles\img\logo72px-1.png" alt="AbeSa" class="logo">
            </a>
            <ul style="list-style-type:none" id="navbar_list">
                <li class='categories'><a href="#">ABOUT</a></li>
                <li class='categories'><a href="#">NEWS</a></li>
                <li class='categories'><a href="/contacts">CONTACT</a></li>
                <li class='categories'><a href="#">HOME</a></li>
                <li class='categories w3-right'><a href="/login">LOG-IN</a> </li>
                <li class='categories w3-right'><a href="/register">SIGN-UP</a></li>
            </ul>
        </nav>

    </header>
    <h1>Register page</h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form method="POST">
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="login"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td>Password retype</td>
                <td><input type="password" name="password2"></td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><input type="email" name="E-mail"></td>
            </tr>
            <tr>
                <td><a href="{{ url_for('login_page') }}">Login</a></td>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>

</html>